{% extends "Padre.html" %}

{% block cabecera %}
<h1 class="text-center text-primary my-4">Menú Principal</h1>
<p class="text-center text-secondary">Aquí puedes acceder a todos los enlaces disponibles en el proyecto.</p>
{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-md-8 offset-md-2">

    <!-- Sección de Búsquedas -->
    <h2 class="text-center text-info mt-4 mb-3">Búsquedas</h2>
    <!-- Sección de Formularios -->
    <h2 class="text-center text-success mt-4 mb-3">Busqueda Avanzadas</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'promocionFormulario' %}" class="text-decoration-none">Formulario de promociones</a></li>
      <li class="list-group-item"><a href="{% url 'filtros_avanzados_promociones' %}" class="text-decoration-none">Formulario de Busqueda avanzada de promociones</a></li>
    </ul>
  </div>
</div>
{% endblock %}